.profileOptionSection {
  display: flex;
  flex-direction: column;
  margin-top: 2.8rem;
  margin-left: 2.5rem;
  position: fixed;
}

.profileOption {
  margin-left: 0rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;
  position: relative;
}

.profileOption .image-pic-profileOption {
  margin-top: 8px;
  border-radius: 40px;
  height: 2.5rem;
  width: 2.5rem;
}

.profileOption .profileName-profileOption {
  margin-left: 0.5rem;
}

.arrow {
  margin-top: 20px;
  margin-left: 5px;
}

.profileDropDown {
  display: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-top: 5px;
  padding-left: 5px;
  margin-left: 3.2rem;
  margin-right: 0.5rem;
  border-top: 1px solid rgba(230, 230, 230, 0.6);
  box-shadow: 1px 2px 2px 0px rgb(0, 0, 0, 0.6);
  border-radius: 3px;
}

.profileDropDown .link {
  color: black;
  text-decoration: none;
}

.signout {
  padding: 3px 3px;
  margin-right: 5px;
  margin-bottom: 7px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.profile {
  padding: 3px 3px;
  margin-right: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.signout:hover,
.profile:hover {
  background-color: var(--light-gray);
  box-shadow: 1px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

@media (max-width: 1050px) {
  .profileName-profileOption,
  .arrow {
    display: none;
  }
  .profileOption .image-pic-profileOption {
    margin-top: -10px;
    border-radius: 40px;
    height: 4rem;
    width: 4rem;
  }
  .profileDropDown {
    margin-left: -1rem;
    margin-top: 0.5rem;
  }
}
