.parentModal {
  z-index: 40;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.editProfileComponent {
  width: 20rem;
  height: 21rem;
  border-radius: 15px;
  background-color: #fff;
  padding: 0px 20px;
  padding-bottom: 1.5rem;
  padding-top: 7rem;
  position: relative;
}
.edit-pic-component {
  display: flex;
  justify-content: center;
}

.editProfileComponent .edit-pic {
  position: absolute;
  margin: 0rem 0rem;
  border-radius: 70px;
  height: 7rem;
  width: 7rem;
  margin-top: -6rem;
}

.edit-Pic-Options {
  position: absolute;
  border-radius: 10px;
  right: 2rem;
  margin-top: 1rem;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 0rem 0.5rem;
  padding-top: 0.5rem;
}

.pic-edit-btn {
  position: absolute;
  font-size: larger;
  margin-left: 5.2rem;
  margin-top: -1rem;
  background-color: #f1e9e9;
  padding: 3px;
  border-radius: 40px;
  cursor: pointer;
}

.edit-Pic-Options .uploadBtn {
  padding: 4px 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.edit-Pic-Options .uploadBtn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.editProfileComponent .editBio {
  width: 15rem;
  height: 3rem;
  resize: none;
  border: 5px soild gainsboro;
  padding: 5px 10px;
}

.editProfileComponent .input {
  margin-top: 0px;
  padding: 5px 10px;
  font-size: medium;
  width: 15rem;
  height: 1.5rem;
  border: 5px soild gainsboro;
}

.editFooter {
  margin-top: 1rem;
  text-align: right;
}
.editFooter button {
  cursor: pointer;
  margin: 0px 10px;
}
