.profilePage {
  max-width: 500px;
  margin-top: 3.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.background-Image {
  height: 8rem;
  background: var(--light-blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.imageSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  /* width: 100%; */
}

.image {
  position: relative;
  margin-top: -5rem;
  border-radius: 100%;
  height: 9rem;
  width: 9rem;
  /* width: 100vw; */
}

.signout {
  display: none;
  position: absolute;
  right: 0rem;
  margin-left: 5px;
  top: 9.4rem;
  font-size: x-large;
  cursor: pointer;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
}

.profileInfo .name {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  max-width: 30%;
  font-size: larger;
  font-weight: 500;
  margin-left: 5px;
}

.profileInfo .username {
  margin-top: -0.5rem;
  margin-left: 5px;
}

.profilePage .emptyMsg {
  margin-left: 0rem;
  border: 1.5px solid gainsboro;
  box-shadow: 0.5px 0.5px 2px 0px rgb(0, 0, 0, 0.6);
  padding: 5rem 0rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90vw;
}

.edit-btn {
  position: absolute;
  display: flex;
  align-self: flex-end;
  margin-top: 1.3rem;
  margin-right: 0.5rem;
  background-color: rgb(212, 212, 212);
  box-shadow: 0px 0.5px 1px 0px rgb(0, 0, 0, 0.6);
  color: rgb(65, 63, 63);
  padding: 4px 6px;
  border-radius: 5px;
  cursor: pointer;
}

.profilePage .follow-btn {
  position: absolute;
  font-size: large;
  display: flex;
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: 2rem;
  border: 1px solid;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
  border: none;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.follow-btn:hover {
  background-color: var(--dark-blue);
  border: none;
  color: white;
}

.edit-btn:hover {
  background-color: gray;
  border: none;
  color: white;
}

.description {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-top: 0rem;
  /* width: 100vw; */
}

.title {
  margin-top: 0rem;
  font-size: 23px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.bio {
  margin-top: -0.5rem;
  font-size: 17px;
  text-align: center;
  overflow-wrap: break-word;
}

.website {
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  text-align: center;
  color: var(--light-blue);
}

.profile-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  font-size: x-large;
}

.listHeadings {
  display: flex;
  justify-content: space-around;
  margin-top: -1rem;
}

.listHeadings .postOptions {
  padding: 10px 10px;
  border-radius: 5px;
  cursor: "pointer";
}
/* .follow-Btn {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.9);
} */

.follow-Btn:hover {
  cursor: pointer;
  color: rgb(253, 194, 0);
}
/* 
@media (max-width: 906px) {
  .signout {
    display: none;
  }
  .edit-btn {
    margin-right: 0rem;
  }
} */

@media (max-width: 786px) {
  .profilePage {
    max-width: 500px;
    margin-top: 5.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .signout {
    display: block;
  }
  .edit-btn {
    margin-right: 3rem;
  }
}

@media (max-width: 449px) {
  .profilePage p {
    font-size: 19px;
  }
  .profilePage .image {
    margin-top: -4rem;
    width: 6.5rem;
    height: 6.5rem;
  }

  .profileInfo .name {
    font-size: 14px;
    font-weight: bold;
  }

  .profileInfo .username {
    font-size: 14px;
  }

  .profileInfo {
    margin-top: -2rem;
  }
  .edit-btn {
    font-size: small;
    margin-right: 2.5rem;
  }

  .profilePage .signout {
    top: 7.6rem;
    right: 10px;
    font-size: medium;
  }

  .background-Image {
    height: 5.5rem;
    margin: 0px 2px;
  }

  .profilePage .follow-btn {
    margin-top: 1rem;
    margin-right: 1rem;
  }
}
