.homePage {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.addPostHome {
  margin-top: -1.2rem;
}

.heading-latestPost {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 5px 15px;
  margin-bottom: 0rem;
}

.postList {
  list-style: none;
}

.pageTitle {
  text-align: left;
  font-size: x-large;
  margin-top: 3.5rem;
  font-weight: 400;
}

.systemBtn:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

.postFullList {
  /* width: 90vw;
  max-width: 500px;
  /* display: grid;
  justify-content: center; 
  border: 1px solid red; */
}

@media (max-width: 962px) {
  .addPostHome {
    display: none;
  }
  .heading-latestPost {
    margin-top: -1rem;
  }
}
