.left-side-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  font-size: x-large;
  position: fixed;
}

.pages {
  margin-top: -1rem;
}

.icons {
  font-size: 1.7rem;
  padding-right: 0.5rem;
}

.page {
  display: flex;
  justify-content: space-between;
}

.platform-name {
  font-size: xx-large;
  font-weight: bolder;
  cursor: pointer;
  color: var(--dark-blue);
  padding: 5px 10px;
  border-radius: 10px;
}

.home-btn {
  text-decoration: none;
  color: black;
  padding: 10px 5px 15px 3px;
  font-size: 1.3rem;
  display: flex;
  cursor: pointer;
}

.home-btn:hover {
  background-color: rgb(182, 182, 182, 0.3);
  border-radius: 15px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.explore-btn {
  text-decoration: none;
  color: black;
  padding: 10px 10px 15px 3px;
  font-size: 1.3rem;
  display: flex;
  cursor: pointer;
}
.explore-btn:hover {
  background-color: rgb(182, 182, 182, 0.3);
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.bookmarks-btn {
  text-decoration: none;
  color: black;
  padding: 10px 10px 15px 3px;
  font-size: 1.3rem;
  display: flex;
  cursor: pointer;
}
.bookmarks-btn:hover {
  background-color: rgb(182, 182, 182, 0.3);
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.likedPost-btn {
  text-decoration: none;
  color: black;
  padding: 10px 10px 15px 3px;
  font-size: 1.3rem;
  display: flex;
  cursor: pointer;
}

.likedPost-btn:hover {
  background-color: var(--light-gray);
  border-radius: 10px;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.post-btn {
  margin-top: 1rem;
  padding: 10px 50px;
  font-size: large;
  border-radius: 10px;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.post-btn:hover {
  background-color: var(--dark-blue);
}

.profileOptionSide {
  margin-left: -3rem;
  font-size: 20px;
  display: none;
  display: flex;
  flex-wrap: wrap;
  display: none;
}
.postSign {
  display: none;
}

@media (max-width: 1166px) {
  .left-side-bar .profileOptionSide {
    display: block;
  }
}

@media (max-width: 1050px) {
  .sidePageName {
    display: none;
  }
  .postName {
    display: none;
  }
  .postSign {
    display: block;
  }
  .icons {
    font-size: 3rem;
  }
  .platform-name {
    margin-left: -2rem;
  }
  .pages {
    margin-left: 1rem;
  }
  .post-btn {
    margin-left: 0.9rem;
    padding: 10px 5px 0px 5px;
    font-size: 3rem;
    border-radius: 100%;
  }
  .profileOptionSide {
    margin-left: -1.7rem;
  }
}

@media (max-width: 786px) {
  .left-side-bar {
    display: none;
  }
}
