.postOptionsParent {
  display: flex;
  justify-content: flex-end;
  margin-top: -3.5rem;
  margin-right: 4rem;
  position: relative;
}

.postOptions {
  background-color: white;
  border: 1px solid;
  position: absolute;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: left;
}

.postOptions .option {
  font-size: medium;
  padding: 3px 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
}

.option:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

@media (max-width: 786px) {
  .postOptionsParent {
    display: flex;
    justify-content: flex-end;
    margin-top: -3.5rem;
    right: -3rem;
    top: 6rem;
    position: absolute;
    width: 100vw;
  }
}
