.landingPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: rgb(248, 252, 252);
  height: 100vw;
}

.landingImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 25rem;
  margin: 5.1rem 0rem 0rem 3rem;
}

.landingImage p {
  font-size: 32px;
  margin-top: 0.5rem;
  font-weight: 500;
  text-decoration: wavy;
  color: grey;
}

.landingPageImage {
  height: 100%;
  width: 100%;
  filter: brightness(100%) saturate(150%) hue-rotate(347deg);
}

.landingPage h1 {
  color: var(--light-blue);
  font-size: 3rem;
  text-align: center;
}
.hidePasswordComponent {
  position: absolute;
  margin-top: 10.5rem;
  margin-left: 80%;
  font-size: larger;
  cursor: pointer;
  color: gray;
}

.loginPage {
  margin-top: 0rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 396px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: white;
  position: relative;
}

.loginTitle {
  margin-bottom: 3.5rem;
  font-size: 19px;
  margin-top: 0.5rem;
  font-weight: 500;
}

.guestLogin {
  position: absolute;
  margin-left: 15.5rem;
  margin-top: 3rem;
  border: 1px solid rgb(216, 215, 215);
  padding: 3px 7px;
  padding-bottom: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.guestLogin:hover {
  border: none;
  background-color: var(--light-blue);
  color: white;
}

.loginPage input {
  width: 85%;
  margin: 6px 0px;
  font-size: 17px;
  padding: 13px 16px;
  border-radius: 6px;
  border: 1px solid rgb(216, 215, 215);
}

.login-btn {
  background-color: var(--light-blue);
  border: none;
  border-radius: 6px;
  padding: 12px 16px;
  width: 93%;
  font-size: 20px;
  font-weight: bold;
  margin: 6px 0px;
  color: white;
  cursor: pointer;
}

.login-btn:hover {
  background-color: var(--dark-blue);
}

.loginFooter {
  display: flex;
}

.forgottenAccount {
  margin-right: 1.5rem;
  margin-top: 1.4rem;
  color: rgb(24, 119, 242);
  cursor: pointer;
}

.forgottenAccount:hover {
  text-decoration: underline;
}

.signup {
  background-color: rgb(66, 183, 42);
  font-size: 17px;
  font-weight: bold;
  color: white;
  border-radius: 6px;
  padding: 8px 15px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  text-decoration: none;
}

.signup:hover {
  background-color: rgb(39, 145, 18);
}

@media (max-width: 768px) {
  .landingImage {
    display: none;
  }
  .login-section {
    margin-top: 3rem;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
}
