.mainPage {
  display: flex;
  justify-content: space-around;
  position: relative;
}

:root {
  --light-gray: rgb(182, 182, 182, 0.3);
  --light-blue: rgb(0, 81, 255);
  --dark-blue: rgb(0, 60, 255);
  --white: rgb(255, 255, 255);
}

.centerPage {
  padding-left: 3rem;
  margin-right: 10rem;
  min-width: 32rem;
}

.mobileAddPostBtn {
  position: fixed;
  bottom: 9rem;
  right: 2rem;
  background-color: var(--dark-blue);
  font-size: 4rem;
  border-radius: 100%;
  padding: 5px;
  color: white;
}

.logo {
  height: 4rem;
  width: 4rem;
  margin-top: 10px;
  filter: brightness(100%) saturate(200%) hue-rotate(353deg);
}

.brand-name {
  margin: 0rem 0rem;
  margin-top: 10px;
  font-size: 2.5rem;
  font-weight: bolder;
  cursor: pointer;
  color: var(--dark-blue);
  padding: 0px 0px 5px 15px;
}

.brandBar {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: white;

  right: 0;
  left: 0;
  z-index: 10;
  padding: 10px 10px;
}

.brandTitle {
  display: flex;
}

.cancelButton {
  position: absolute;
  right: 4rem;
  top: 2rem;
  font-size: 1.5rem;
}

.mobileSuggestion {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: white;
  margin-top: 1rem;
  margin-left: -3rem;
  width: 20rem;
  padding-top: 0rem;
  max-height: 30rem;
  overflow-y: scroll;
}

.brandBar .searchBox {
  margin-right: 3rem;
  margin-top: 1rem;
  width: 14rem;
  height: 2.3rem;
  border-radius: 20px;
  border: none;
  background-color: rgb(212, 212, 212);
  font-size: medium;
  padding-left: 1.5rem;
  box-shadow: 0px 2px 2px 0px rgb(0, 0, 0, 0.6);
}

.suggestionPage {
  position: fixed;
  margin-left: 35rem;
}

@media (max-width: 1166px) {
  .profileOptionPage,
  .suggestionPage {
    display: none;
  }
}

@media (max-width: 786px) {
  .mainPage .centerPage {
    display: flex;
    justify-content: center;
    margin-right: 0rem;
  }
}

@media (min-width: 962px) {
  .mobibar,
  .brandBar,
  .mobileAddPostBtn {
    display: none;
  }
}
